.githubButton{
    margin-bottom: 2%;
}
.container{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.repoTitle{
    font-family: 'Lobster', cursive;
    margin-bottom: 1%;
    color: black;
}